<div class="header">
    <div class="logo">
        <li><a href="#">MyLogo</a></li>
    </div>
    <div class="nav">
        <nav>
            <ul>
                <li><a href="{% url 'penitansye:homepage' %}">Home</a></li>
                <li><a href="#">About US</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{% url 'penitansye:patient_form' %}">Book An Appointment</a></li>

            </ul>
        </nav>
    </div>
    <div class="panel">
        <li><a href="#">Login</a></li>
        <li><a href="#">Profile</a></li>
    </div>
</div>